.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.title {
  color: #E1FD2C;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 105px;
  text-align: center;
  text-transform: uppercase;
}

.image {
  position: absolute;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo_text {
  position: absolute;
  top: 20px;
  left: 260px;
}
