.dish_filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #404040

}

.filter_button {
  font-size: 16px;
  font-weight:400;
  height: 40px;
  font-family: inherit;
  background-color: transparent;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 4px
}

.category_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_item {
  display: flex;
  flex-direction: row;
  padding: 0 16px 0 16px;
  border-radius: 16px;
  background-color: var(--bg-accent);
  color:#404040;
}

.list_item_active {
  color: var(--accent-font-color);
  background-color: var(--accent-primary);
}

button{
  color: inherit;
}
