.dish_filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight:400;
  line-height: 24px;
  color: #404040

}

.filter_button {
  
  /* border-radius: 5px; */
  /* padding: 10px; */
  /* padding: 0 16px 0 16px; */
  height: 40px;
  font-family: inherit;
  font-size: 1.5rem;
  background-color: transparent;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 4px
}

.list_item:not(:last-of-type) {
  /* border-right: 1px solid black; */
}

.list_item:last-of-type {
  /* border-top-right-radius: 10px;
  border-right: 1px solid black;
  border-bottom-right-radius: 10px; */
}

.list_item:first-of-type {
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid black; */
}

.list_item {
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  padding: 0 16px 0 16px;
  border-radius: 16px;
  background-color: #F5F5F5 ;
  color:#404040;
}

.list_item_active {
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  color: #FFFFFF;
  background-color: #E79CA6 ;
}

button{
  color: inherit;
}
