.button_defaulf {
    background: var(--bg-secondary);
    border-radius: var(--border-radius-xl);
    font-family: inherit;
    cursor: pointer;
}

.button_defaulf:hover {
    background: var(--bg-secondary);
    border-radius: var(--border-radius-xl);
}

.button_popup_open {
    background: var(--bg-primary);
    border-radius: var(--border-radius-xl);
}