.popup_container {
  position: relative;
  display: inline-block;
}

.popup_content {
  position: absolute;
  top: 100%;
  margin-top: 4px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  min-width: 150px;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

.popup_content.left {
  right: 0;
}

.popup_content.right {
  left: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateY(-8px); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
