.main_menu_block {
  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.menu_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  width: 100%;
}
