.basket_item_info {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
}

.basket_dish_price{
  margin-left: auto;
  margin-right: 10px;
}

.basket_counting{
  display: flex;
  gap: 10px;
  margin: 5px 0;
}
