.menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 450px;
  /* border: 2px solid rgb(255, 255, 255); */
  border-radius: 25px;
  padding: 0px 10px 0px 10px;
  /* background-color:white; */
  background-image: url('../../assets/logo/logoCatCloud.png');
  background-position: center;
  background-size: cover;
}

.menu_item_img {
  width: 100%;
  max-width: 125px;
  height: 100%;
  max-height: 125px;;
  border: 2px solid black;
  border-radius: 25px;
}

.menu_item_info {
  display: flex;
  gap:5px;
}
