.main {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-lg);
  padding: 10px;
  background: var(--bg-secondary);
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}
