.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 300px;
  background-color: #fff;
  z-index: 1000;
}
