.main {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  min-width: 270px;
  border-radius: var(--border-radius-xl);
  border: 1px solid black;
  box-shadow: var(--shadow-xl);
  padding: 10px;
  background: var(--bg-secondary);
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 5%;
  right: 5%;
  border: none;
  background-color: transparent;
}

.close:hover {
  cursor: pointer;
  border-radius: var(--border-radius-xl);
  background-color: var(--bg-accent);
}