.main {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 300px;
  border: 5px solid #f598a8;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg, #f598a8, #f6edb2);
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}
