.basket {
    display: block;
    min-width: 300px;
    /* min-height: 200px; */
    padding: 15px;
}

.basket_empty {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.basket_list {
    list-style: none;
    padding: 0; 
}
.basket_item {
    list-style: none;
    /* height: 10px; */
}

.basket_total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.basket_total_price {
    font-family: inherit;
    font-size: inherit;
}

.button_buy {
    font-size: var(--font-size-xl);
    font-family: inherit;
    background: var(--accent-primary);
    border-radius: var(--border-radius-xl);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: var(--accent-font-color);
}

.button_buy:hover {
    background: var(--accent-hover);
    color: var(--primary-font-color)
    /* border: 2px solid black;
    border-radius: var(--accent-hover); */
}