.basket {
    display: block;
    min-width: 300px;
    min-height: 200px;
    padding: 15px;
}

.basket_list {
    list-style: none;
    padding: 0; 
}
.basket_item {
    list-style: none;
    /* height: 10px; */
}

.basket_total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_buy {
    font-size: var(--font-size-xl);
    font-family: inherit;
    background: var(--bg-secondary);
    border: 2px solid #f5deb3;
    border-radius: var(--border-radius-xl);
}

.button_buy:hover {
    background: #404040;
    border: 2px solid black;
    border-radius: var(--border-radius-xl);
}