.menu_item {
  font-family: 'Inter', sans-serif;
  width: 485px;
  height: 352px;
  border-radius: var(--border-radius-xl);
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 1px 2px -1px #0000001A;
  box-shadow: 0px 1px 3px 0px #0000001A;
  display: flex;
  flex-direction: column;
}

.menu_item:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
  transition: 
    background-color var(--transition-slow)
}

.menu_item_img{
  width: 100%;
  height: 192px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.menu_item_description_block{
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px 16px;
}

.menu_item_title{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.menu_item_description{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  color: var(--secondary-font-color);
}

.menu_item_buy_block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 16px 16px;
  margin-top: auto;
}


.menu_item_price{
  color: var(--accent-primary);
  font-size: 20px;
  font-weight: 400;
}
