.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 150px;
    /* justify-self: center; */
    padding: 0px 20px 0px 20px;

}

.title {
    align-self: center;
    justify-self: center;
    margin: 0;
}

.basket_popup {
    position: absolute;
    top: 100%;
    right: 0;
}