.button {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    border: none;
    cursor: pointer;
}

.basket_image {
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 100px;
}

.dish {
    position: absolute;
    z-index: 0;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 25px;
    object-fit: cover;
}