@import url('styles/variables.css');

@font-face {
  font-family: 'Caveat';
  src: url('./assets/fonts/Caveat/Caveat.ttf');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}


p {
  margin: 0;
  font-size: var(--font-size-xl);
}

h1 {
  margin: 0;
  font-size: var(--font-size-3xl);
}

h2 {
  margin: 0;
  font-size: var(--font-size-2xl);
}

h3 {
  margin: 0;
  font-size: var(--font-size-xl);
}

button {
  border: none;
}
