@font-face {
  font-family: 'Caveat';
  src: url('./assets/fonts/Caveat/Caveat.ttf');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Caveat', sans-serif;
  background-color: rgba(217, 15, 42, 0.56);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
