.menu_item {
  max-width: 320px;
  max-height: 450px;
  border-radius: var(--border-radius-xl);
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}

.menu_item:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
  transition: 
    background-color var(--transition-slow)
}

.menu_item_title {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  font-size: var(--font-size-2xl);
  text-align: center;
}

.menu_image_block {
  display: flex;
  position: relative;
  justify-content: center;
}

.menu_cloud {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.menu_item_img {
  position: absolute;
  top: 30%;
  width: 100%;
  max-width: 125px;
  height: 100%;
  max-height: 125px;
}

.menu_item_price {
  position: absolute;
  top: 70%;
  right:15%;
  padding: 0px;
  font-weight: bold;
  text-align: center;
}

.menu_item_info {
  display: flex;
  gap:5px;
}
