.counting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: var(--font-size-xl);
    height: 40px;
}

.button {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: var(--accent-font-color);
    background: var(--accent-primary);
    border-radius: var(--border-radius-xl);
    height:100%;
    min-width: 40px;
    font-weight: 500;
}

.button:hover {
    border-radius: var(--border-radius-xl);
    cursor: pointer;
}