.counting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    background: var(--bg-secondary);
    border: 2px solid #f5deb3;
    border-radius: var(--border-radius-xl)
}