.counting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: var(--font-size-xl);
}

.button {
    font-size: var(--font-size-xl);
    font-family: inherit;
    background: var(--bg-secondary);
    border: 2px solid #f5deb3;
    border-radius: var(--border-radius-xl)
}

.button:hover {
    background: var(--bg-accent);
    border: 2px solid black;
    border-radius: var(--border-radius-xl);
    cursor: pointer;
}